.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.day {
    width: 130px;
    height: 150px;
    margin-bottom: 10px;
}

.date {
    font-weight: bolder;
    font-size: x-large;
    color: darkgreen;
}

.appointments {
    box-sizing: border-box;
    width: 140px;
    height: 130px;
    margin: 0px;
    overflow: auto;
}